body {
	background-color: #CBFAFA;
}

#container:
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 12px 12 px 12px #404040;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-family: Fantasy, comic-sans, sans-serif;
	text-align: center;
	color: #02175C;
	text-decoration: underline overline;	
}

h2 {
	font-size: 40px;
	color: #02175C;
	font-family: Comic-sans, fantasy, sans-serif;
	text-align: center;
	background-color: #CBFAFA;
	text-decoration: underline dotted;
} 

nav {
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	border-top: 5x solid #FFFFFF;
	borer-bottom: 5x solid #FFFFFF;
	background-color: #F6FEB5;
	border-style: solid;
	border-color: white;
}

li {
	display: inline-block;
	padding: 5px 5px; 
}

main {
	display: block;
	font-family: Veranda, comic-sans, sans-sarif;
	font-size: 1em;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: #F6FEB5;
	box-shadow: 12 px 12 px 12px #404040;
	border-style: solid;
	border-color: white;
}

p {
	font-family: Georgia;
	font-size: 20px;
	color: #02175C;
	text-align: center;
	border-style: outset;
	margin-left: 500px;
	margin-right: 500px;
}	

ul {
	margin-bottom: 50px;
	list-style-position: inside;
	background-color: #CBFAFA;
}

dt {
		font-weight: bold;
}

dd {
	padding-bottom: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
}